@import './_colors.pcss';

:root {
  --default-font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --code-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;

  --text-color: var(--black);

  --font-size-regular: 16px;
}
