@import './_colors.pcss';

:root {
  --default-font-family: Roboto, -apple-system, 'Segoe UI', Arial, sans-serif;
  --code-font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  --story-font-family: Newsreader, serif;

  --text-color: var(--black);
  --text-color-light: var(--gray);
  --text-color-primary: var(--blue);

  --font-size-regular: 16px;

  --navigation-button-size: 70px;
}
