 /* Add some margin to the page and set a default font and colour */
button{
    -webkit-appearance: none;
}

body {
    margin: auto;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("../imgs/symm-bg3-03.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ecd2a7;
}

/* For any viewports less than 1000px wide */
/*@media (max-width: 1200px) {
    body {
        background-size: 1200px 675px; /* Force the image to its minimum width */
    }

}*/

/* Header/footer boxes */

.wideBox {
    clear: both;
    text-align: left;
    max-width: 750px;
    margin: auto;
    /*border: 1px solid #333;*/
}

/* Give headings their own font */
.wideBox h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: #6e503c;
}

.buttons{
    max-width: 750px;
    /*border: 1px solid #333;*/
}

.line{
    max-width: 730px;
    margin: 10px;
    border-top: 1px solid black;
}

/* Main content area */
#conteudo div{
    align: left;
    width: 62.5%;
    max-width: 750px;
    margin: auto;
    margin-left: 0px;
    /*border: 1px solid #333;*/
}
.content{
    align: left;
    width: 62.5%;
    max-width: 750px;
    margin-left: 0px;
}

/* "You did it!" message */
#successMessage, #errorMessage, #finalMessage {
    width: 0;
    height: 0;
    /*padding: 20px;*/
    z-index: 100;
    background: #333;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#successMessage, #errorMessage, #finalMessage h2{
    color: #fff
}