 /* Add some margin to the page and set a default font and colour */
button{
    -webkit-appearance: none;
}

body {
    /*margin: auto;*/
    margin-left: 100px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("../imgs/fundo-rosaceas1.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #e5ba66;
}

/* For any viewports less than 1000px wide */
/*@media (max-width: 800px) {
    body {*/
        /*background-size: 800px;*/ /* Force the image to its minimum width */
    /*}

}*/

/* Header/footer boxes */

.wideBox {
    clear: both;
    text-align: center;
    width: 800px;
    height: 60px;
    /*margin-left: 100px;*/
    /*border: 1px solid #333;*/
}


/* Give headings their own font */
.wideBox h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: #408A7B;
}

.buttons{
    width: 800px;
    /*margin-left: 100px;*/
    /*max-width: 800px;*/
    /*border: 1px solid #333;*/
}

.line{
    /*width: 1000px;*/
    /*margin-left: 100px;*/
    width: 800px;
    /*border-top: 1px solid black;*/
}

/* Main content area */
.container {
    /*margin-left: 100px;*/
    width: 800px;
	float: none;
    /*border: 1px solid #333;*/
}
#loaders,#rosaceas,#targets,#errados,#buts {
    max-width: 800px;
    /*border: 1px solid #333;*/
}

/* "You did it!" message */
#successMessage, #errorMessage, #finalMessage {
    width: 0;
    height: 0;
    /*padding: 20px;*/
    z-index: 100;
    background: #333;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#successMessage, #errorMessage, #finalMessage h2{
    color: #fff
}